@import "bootstrap-sprockets";
@import "bootstrap";

/* Posts index */

.posts {
  margin: 60px;
}

.posts-header {
  margin-bottom: 30px;
}

.posted_time {
  margin-right: 20px;
}

.posts-content {
  margin-bottom: 60px;
}

.sidemenu {
  margin-top: 90px;
}

#comment-post {
  margin-left: 60px;
}